---
import Layout from "../layouts/Layout.astro"
import Vinos from "../skins/Vinos.svelte"
import Default from "../skins/Default.astro"

const { id } = Astro.params
const menu: Menu = await (
  await fetch(`http://localhost:4321/menus/${id}.json`)
).json()
---

<Layout title="Welcome to Astro.">
  {menu.skinIdx === 0 && <Default menu={menu} />}
  {menu.skinIdx === 1 && <Vinos menu={menu} client:only="svelte" />}
  <button id="change">change</button>
</Layout>
